scripts/__pycache__/*
scripts/osquery/__pycache__/*
other/test.py
other/test2.py
other/get_current_pg_disk_s1.py
config/test.json
other/images/*
other/create_chart.py
other/oops.py
other/.DS_Store
scripts/cloudquery/__pycache__/*
config/s11_nodes.json
config/sdev2_nodes.json
publish_practice/*
scripts/expected_logs/*
atlassian_api/use_publish.py
atlassian_api/__pycache__
scripts/kubequery/__pycache__
raghava_venv/*